# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
coverage/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
*.log
logs/

# misc
.DS_Store
.idea/
.vscode/
*.swp

# vite
apps/web/node_modules/.vite
